body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#status-message {
  font-size: 16px;
  margin-bottom: 10px;
}

#status-message.hidden {
  display: none;
}

#status-message.error {
  color: red;
}

#status-message.success {
  color: green;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 300px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
}

button {
  background-color: #1e1e1e;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

.chat-box {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: 300px;
  overflow-y: auto;
  margin: 0 auto 10px auto;
  text-align: left;
}

.messages {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #444;
}

.message.user {
  align-self: flex-end;
  background-color: #2e2e2e;
  color: white;
}  

.message.api {
  align-self: flex-start;
  background-color: #444;
  color: white;
}
#messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  height: calc(100% - 60px); /* Sabit alt butonlara uyum */
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

